
{% extends 'index.html' %}
{% block ContenidoQueCambia %}
   <br>
    <h4>Nuestros clientes:</h4>
    <br>
    <form action="{% url 'AppThatBeerBuscarCliente' %}" method="GET">
        <input type="text" name="nombre" id="nombre">
        <input type="submit" style="background-color:orangered; color:white "  value="Buscar por nombre" >
    </form>
    <br>
{% for c in clientes %}
    • <b>Nombre:        {{c.nombre}}</b><br>
    • Apellido:         {{c.apellido}}<br>
    • Email:            {{c.email}}<br>
    • Direccion:        {{c.direccion}}<br>
    • Provincia:        {{c.provincia}}<br>
    • Código Postal:    {{c.cp}}<br>
    • DNI:              {{c.dni}}<br>
    <br>

{% endfor %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
    <a class="btn btn-light btn-xl" style="background-color:orangered; color:white " href="{% url 'AppThatBeerCrearCliente' %}">AGREGAR CLIENTE</a>
        {% endif %}
    {% endif %}
{% endblock %}