{% extends 'index.html' %}
{% block ContenidoQueCambia %}
<h1>Sobre nosotros:</h1>
<p>That Beer es un proyecto creado por Luciano Estigarribia, Luca Scardaccione y Luis Peña Machado, para la entrega Final del Proyecto de CoderHouse.
<br>
A traves de los contenidos aprendidos en las clases logramos desarrollar esta web, donde los usuarios pueden navegar y realizar distintas acciones, asi como también hablamos un poco sobre nuestra marca, una distribuidora de todo tipo de cervezas.
<br>
Todos somos estudiantes de Coder, y estamos comenzando en este camino del desarrollo, con el lenguaje Python y el framework Django.
<br>
Nuestro objetivo es aprobar la entrega final del curso para asi obtener el certificado final, y continuar nuestro camino como desarrolladores web, en busca de un empleo en el área IT.
<br>
<br>
<br>
<h3>Premios que conseguimos</h3>
<br>
<br>
• <b>Premio a la mejor cerveza</b> - EEUU - 1921 - Cerveza ganadora : <b>"Golden Boyz"</b>
<br>
• <b>Premio al mejor maridaje</b> - España - 1926 - Maridaje ganador : <b>"Ipa Salud" </b>c/ Tacos del Pastor
<br>
• <b>Premio al mejor servicio</b> - EEUU - 1962 - Cerveza ganadora : <b>"Cream Scotish"</b> - Servicio por: <b>That Beer Origin Team</b>
<br>
•<b> Premio a la mejor cerveza</b> - Argentina - 2018 - Cerveza ganadora : <b>"Amber Nevada"</b>
<br> 
•<b> Premio a la mejor cerveza</b> - Berlin - 2022 - Cerveza ganadora : <b>"Ipa Nimo"</b>
</p>
{% endblock %}
